<% if signed_in? && (current_user.id == @user.id || current_user.is_admin) then %>
	<!-- Rechte müssen vorhanden sein-->
	<h2> Deinen Daten bearbeiten</h2>
	<%= @user.name%>
	<%= form_for @user, :url => users_path do |u| %>
		<%= u.label :Klassenstufe %>:<%= u.text_field :class_level %></br>
		<%= u.label :Kontaktdaten %>:<%= u.text_field :contact_info %></br>
		<%= u.label :Neues_Passwort %>:<%= u.text_field :password %></br>
		<%= u.submit "Speichern" %>

		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	<% end %>

	

<% else %>
  <h2>Sie haben keine Berechtigung für diese Seite</h2>	
  <%= link_to "weiter zur Startseite", root_path %> 
<% end %>