
﻿<h1>Daten von <%= @user.name%></h1>
<br/>

<h1 align="center"><%= @user.name%></h1>

<br/>

<center>

<table>
	<tr>
		<td><%= "Klasse: " %></td> 
		<td><%= @user.class_level.to_s %></td>
	</tr>
	
	<tr>
		<td><%= "Kontakt: " %></td> 
		<td><%=@user.contact_info.to_s%> </td>
	</tr>
	<tr>
		<td><%= "Bewertung: " %></td> 
		<td><%=@user.likes.to_s%> </td>
	</tr>

	<% if @allowed then %>

	<th>Anfragen</th>
    <th>Löschen?</th>
	<% end %>
  </tr>
   <% @user.offers.each do |o| %>
  <tr>
      <td> <%= link_to(o.subject.to_s + ", Klasse " + o.class_level.to_s, offer_path(o.id)) %> </td>
	<tr>
		<td><%= link_to "Daten bearbeiten", edit_user_path(@user) %> </td>
	</tr>
<% end %>
</table>


<br/>
<br/>


<table>
	<tr>

		<td align="center" valign="top" style="background-color:#CCCCFF">
			<h2>Angebote</h2>
			<br/>
			<table border=3 frame=void bgcolor=#CCFFFF>
			<tr>
				<th>Angebote</th>
				<% if @allowed then %>
					<th>Anfragen</th>
					<th>Loeschen?</th>
				<% end %>
			</tr>
			<% @user.offers.each do |o| %>
				<tr>
					<td> <%= link_to(o.subject.to_s + ", Klasse " + o.class_level.to_s, offer_path(o.id)) %> </td>

					<% if @allowed then %>
						<td> <%= link_to "Anfragen anzeigen", appointments_path %> </td>
						<td><%= link_to "Entfernen", offer_path(o), :method => :delete %></td>
					<% end %>

				</tr>
			<% end %>
			</table>
			
			<% if @allowed then %>
				<%= link_to("Neues Angebot anlegen", new_offer_path(@user))%>
		</td>
		
		<td width="50"> </td>
  
		<td align="center" valign="top" style="background-color:#CCCCFF">  
			<h2>Eigene Gesuche</h2>
			<br/>
			<table border=3 frame=void bgcolor=#CCFFFF>
				<tr>
					<th>Fach</th>
					<th>Loeschen?</th>
				</tr>
				
				<% @user.demands.each do |d| %>
					<tr>
						<td> <%= d.subject %>  </td>
						<td><%= link_to "Entfernen", demand_path(d), :method => :delete %></td>
					</tr>
				<% end %>
			</table>
 
			<%= link_to("Neues Gesuch anlegen", new_demand_path) %>
		</td> 
		
		<td width="50"> </td>
		
		<td align="center" valign="top" style="background-color:#CCCCFF">
			<h2>Terminvereinbarung zu meinen Gesuchen</h2>
			<br/>


  <table border=3 frame=void bgcolor=#CCFFFF>
    <tr>
      <th>Fach</th>
      <th>Anbieter</th>
      <th>Termin bestätigt</th>
      <th>Bewertung</th>
      <th>Loeschen?</th>
    </tr>
  
  <% @user.appointments.each do |a| %>
   <tr>
      <td> <%= a.offer.subject %> </td>
      <td> <%= link_to(a.offer.user.name, users_path(a.offer.user.id)) %> </td>
      <td>
            <% if a.is_agreed then %>
              <%= "ja" %>
            <% else %>
			  <%= "nein" %>
			<% end %>
	   </td>
      <td></td>
      <td><%= link_to "Entfernen"%> </td>
   </tr>
  <% end %>

			<table border=3 frame=void bgcolor=#CCFFFF>
				<tr>
					<th>Fach</th>
					<th>Anbieter</th>
					<th>Status</th>
					<th>Bewertung</th>
					<th>Loeschen?</th>
				</tr>
  
				<% @user.appointments.each do |a| %>
					<tr>
						<td></td>
						<td> <%= link_to(a.offer.user.to_s, users_path(a.offer.user.id)) %> </td>
						<td></td>
						<td></td>
						<td><%= link_to "Entfernen"%> </td>
					</tr>
				<% end %>


			</table>
		</td>
  
  
	</tr>
</table
</center>
<% end %> 

