<!DOCTYPE html>
<html lang="de">

<head>
<title>Deine Nachhilfeboerse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<meta charset="UTF-8" />

<style type="text/css">
<!--
* {
  margin:0;
  padding:0;
}


#kopfbereich {
  background-image:url("/hintergrundalle.jpg");
  height:175px;
}

#kopfbereich p {
  font-size:4em;
  text-align:center;
  color:red;
  padding:.8em 0 0 0;
}

#steuerung {
  background-color:black;
  text-align:center;
}

#steuerung p {
  font-size:1.2em;
  color:white;
}

#content {
  height:20px;
  background-color:white
}
-->
</style>

</head>
<body>


<div id="kopfbereich">
<p>Deine Nachhilfebörse</p>
</div>

<div id="steuerung">
<p>Start  |   
  <%= link_to "Suche", new_demand_path %> | 
  <% if current_user then %>
    <%= link_to "Profil", users_path(current_user) %>  | 
  <% end %>
  <% if signed_in? then %>
    <% if current_user.is_admin then %>
      <%= link_to "Admin", admin_path %>  |
    <% end %>
  <% end %>  
  <%if !signed_in? then %>
    <%= link_to "Login", logins_path %>  |  
  <% end %>
  <%if signed_in? then %>
    <% linktext = "Logout " + current_user.name %>
    <%= link_to linktext, logout_path, :method => :delete %></p>
  <% end %>
</div>

<div id="content">
<%= yield %>
</div>


</body>
</html>
