<!DOCTYPE html>
<html>
<head>
  <title>NachhilfeBoerse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<span>
<marquee behavior=alternate, scrolldelay=5, bgcolor="ffff00", fontcolor="0000aa", blink>
Finde die f端r Dich passende Nachhilfe an Deiner Schule oder biete Dein Fachwissen als Nachhilfe f端r andere Sch端lerinnen und Sch端ler an! 
</marquee>
</span>


<table align="left", bgcolor="D1EEEE", width = "400" >
	<tr><br>
		<td align="center"><%= link_to "Profil", users_path(current_user) %></td>
    <td align="center"><%= link_to "Login", logins_path %></td>
    <td align="center"><%= link_to "Admin", admin_path %></td>
		<td align="center"><%= link_to "Logout", logout_path %></td>
  </tr>	

</table>
  <br>
  <br>

<%= yield %>
</body>
</html>
