<h1>Angebot von <%= @offer.user.name %></h1>
  <table>
  <tr>
      <td>Klasse: </td> <td><%= @offer.class_level %></td>
  </tr>
  <tr>  
      <td>Fach: </td><td><%= @offer.subject %></td>
  </tr>
  <tr>
      <td>Verguetung: </td><td><%= @offer.pay %></td>
  </tr>
  <tr>
      <td>Information: </td><td><%= @offer.info %></td>
  </tr>
  <tr><% if !signed_in? then %>
  <td><%= link_to "Login", login_path %></td>  
      <% end %>
  <tr><% if current_user == @offer.user then %>
       <td><%= link_to "bearbeiten", edit_offer_path(@offer) %></td>  
      <% end %>

      <% if signed_in? && @offer.user != current_user then %>
       <td><%= link_to "Termin anfragen", appoint_path(@offer), :method => :put %><td>
      <% end %> 
       </tr>
  </table>
  </br>
  </br>

<%= link_to "Zum Profil des Anbieters", users_path(@offer.user.id) %>

