<br/>

<h1 align="center">Suche Nachhilfe</h1>

<center>

<br/>
<br/>

<%= form_for :demand, url: results_path do |f| %>
    <%= f.text_field :subject, :size=>"30", :maxlength=>"30", :placeholder=>"Fach" %>
    <br/>
	<br/>
    <%= f.text_field :class_level, :size=>"30", :maxlength=>"30", :placeholder=>"Klassenstufe" %>
    <br/>
	<br/>
	<% if signed_in? then %>
    	<%= f.submit "Anzeigen und Abspeichern", :style=> "width: 168px; height: 25px" %>
    <% else %>
    	<%= f.submit "Anzeigen", :style=> "width: 168px; height: 25px"  %>
    <% end %>
<% end %>

</center>