<H1 align="center">LOGIN</H1>

<center>
<%= form_for :login, url: logins_path do |f| %>
    <%= f.label :name, "Benutzername" %>
    <%= f.text_field :name %>
    <br/>
    <%= f.label :password, "Passwort" %>
    <%= f.password_field :password %>
    <br/>
    <%= f.submit "Login" %>
<% end %>
</center>