<br/>

<h1 align="center">Administration</h1>

<% if not @is_admin then %>

  <p>Diese Seite kann nur von Administratoren aufgerufen werden</p>
  <%= link_to "weiter", root_path %>
<% else %>
  
	<center>
	<br/>
	<h2>Benutzer</h2>
	<br/>	
	
	<table border="1" style="width:70%">
		<tr>
			<th style="height:30px">Admin</th>
			<th>Name</th>
			<th>Klassenstufe</th>
			<th>Kontakt-Infos</th>
			<th>letzte Aktivität</th>
			<th>löschen</th>
			<th>Admin-Status ändern</th>
			<th>editieren</th>
	</tr>
	<% user = @admin %>
		<tr>
	      <td align="center">X
		  </td>
		  <td align="center"><%= user.name  %></td>
		  <td align="center"><%= user.class_level %></td>
		  <td align="center"><%= user.contact_info %></td>
		  <td align="center"><%= user.last_activity.to_s.sub(/(\w+)-(\w+)-(\w+)/, '\\3.\\2.\\1') %></td>
          <td></td>
		  <td></td>
          <td align="center">
		    <%= link_to "edit", edit_user_path(user) %>
		  </td>
		  	  
        </tr>
  	<% @users_not_first.each do |user| %>
		<tr>
	      <td align="center"><% if user.is_admin then%>
			    <%= "X" %>
			  <% end %>
		  </td>
		  <td align="center"><%= user.name  %></td>
		  <td align="center"><%= user.class_level %></td>
		  <td align="center"><%= user.contact_info %></td>
		  <td align="center"><%= user.last_activity.to_s.sub(/(\w+)-(\w+)-(\w+)/, '\\3.\\2.\\1') %></td>
          <td align="center">
		    <% if user.id != 1 then %>
		      <%= link_to "delete", users_path(user), :method => :delete %>
			<% end %>   
		  </td>
		  <td align="center">
		    <% if user.id != 1 then %>
		      <%= link_to "change", change_admin_status_path(user), :method => :patch %>
			<% end %> 
		  </td>

		  <td align="center">
		    <%= link_to "edit", edit_user_path(user) %>
		  </td>
		  	  
        </tr>
       <% end %>
	
	</table>
	
	<br/>
	
	<h2>Benutzer neu anlegen</h2>

	<br/>

  <%= form_tag admin_path, multipart: true do %>
  		Name: 
  		<%= text_field_tag :name %>
  		
		<br/>
		<br/>
  		Passwort (min. 8 Zeichen):
  		<%= text_field_tag :password %>
  		<br/>
  		<br/>
  		Benutzer über CSV-Datei importieren (1. Zeile: Kopfzeile, 1. Spalte: Name, 2. Spalte: Passwort):
  		<br/>
  		<%= file_field_tag :file %>
  		<%= submit_tag "Benutzer anlegen" %>
  <% end %>
  </center>
	

<% end %>
