<h1>Administration</h1>

<% if not @is_admin then %>

  <p>Diese Seite kann nur von Administratoren aufgerufen werden</p>
  <%= link_to "weiter", root_path %>
<% else %>
  <h2>Benutzer</h2>
  <table>
	  <tr>
	  	<th>Admin</th>
		<th>Name</th>
		<th>Klassenstufe</th>
		<th>Kontakt-Infos</th>
		<th>letzte Aktivität</th>
		<th>löschen</th>
		<th>Admin-Status ändern</th>
		<th>editieren</th>
	  </tr>
	  
	    <% @users.each do |user| %>
		<tr>
	      <td><% if user.is_admin then%>
			    <%= "ADMIN" %>
			  <% end %>
		  </td>
		  <td><%= user.name  %></td>
		  <td><%= user.class_level %></td>
		  <td><%= user.contact_info %></td>
		  <td><%= user.last_activity %></td>
          <td>
		    <% if user.id != 1 then %>
		      <%= link_to "delete", users_path(user), :method => :delete %>
			<% end %>   
		  </td>
		  <td>
		    <% if user.id != 1 then %>
		      <%= link_to "change", change_admin_status_path(user), :method => :patch %>
			<% end %> 
		  </td>
		  <td>
		    <%= link_to "edit", edit_user_path(user) %>
		  </td>
		  	  
        </tr>
       <% end %>	  
	</table>

  <h2>Benutzer neu anlegen</h2>

  <%= form_for @new_user, :url => admin_path do |f| %>
	<%= f.label :name %> <%= f.text_field :name %>
	</br>
	<%= f.label :password %> <%= f.text_field :password %>
	</br>
	<%= f.submit "Save" %>
  <% end %>

<% end %>
